.container {
    padding: 15px;
}

.panel {
    border-radius: 3px;
    padding: 15px;
}

.addressComponent {
    display: inline-block;
    background-color: #e3e3ea;
    padding: 5px;
}

.blockies {
    display: inline-block;
    font-size: 0;
    width: 32px;
    height: 32px;
}

.blockies, .address {
    vertical-align: middle;
}

.vault {
    background-color: #e3e3ea;
    margin: 15px 0;
}
